#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #002a3e;
  }
  #logoAnimado{
      z-index: -10;
      position: absolute;
      width: 25%;
      top: 42%;
      left: 37%;
      animation-name: animacionLogo;
      animation-duration: 8s;
  }
  @keyframes animacionLogo{
      from{
        top: 20%;
        left: 40%;
        padding: 0px;
        margin-top: 0px;
        border: 0px;        
        z-index: 10;
    }
    10%{
        top: 20%;
        left: 40%;
        padding: 0px;
        margin-top: 0px;
        border: 0px;        
        z-index: 10;
    }
    30%{
        top: 20%;
        left: 77%;
    }    
    50%{
        top: 40%;
        left: 77%;
    }    
    60%{
        top: 42%;
        left: 37%;
        transform: scale(1.0);
    }
    85%{

        transform: scale(1.9);
    }
    to{    
        transform: scale(1.0);
        z-index: 10;
    }
  } 
  .flb {
    // background-color: #3ebffb;  
    --background:none;
    background: url("../assets/images/slplashSinLogo.png") no-repeat center / cover;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

//   END SPLASH-------------------------------------------